@model IEnumerable<MyTrainer.Models.UserPhotos>

@{
    ViewBag.Title = "Index";

}

<body>
<br />
<br />
<br />
<br />
    <legend style="color:black; text-align: center">UPLOAD PICTURE TO SHOW YOUR PROGRESS!</legend>
<div class="row">
<div class="col-md-12">
@foreach (var item in Model)
{

    <img id="myImg" style="height:400px; border-color:black; border-width:4px; width:400px; margin-left:725px;" src="@item.FileName">
    <div class="row" style="text-align:center; color:black; text-decoration:none;">
@Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </div>
}

<div class="row" style="margin-top: 5px;">
@using (Html.BeginForm("FileUpload", "UserPhotos", null, FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <fieldset style="text-align:center; color:black; margin-bottom: 50px;">
        <div class="editor-label">
            <label style="color:black;">Upload Here...</label>
        </div>
        <div class="editor-field col-sm-12" style="position: absolute; margin: auto; align-content: center;">
            <input style="font-weight:bolder; border-radius:10px; margin: auto; position: absolute; left: 0; right:0; width: 200px;" id="Picture" title="Upload a product image"
                   type="file" name="file" />
        </div>
        <br />
        <br />
        <p><input style="font-weight:bolder; border-radius:1px;" type="submit" value="Upload" /></p>
    </fieldset>
}

</div>
</body>