
@{
    ViewBag.Title = "ChatRoom";
}

<!DOCTYPE html>
<html>
<head>
    <title>SignalR Simple Chat</title>
    <style type="text/css">
        .container {
            background-color: #99CCFF;
            border: thick solid #808080;
            padding: 20px;
            margin: 20px;
        }
    </style>
</head>
<body>
    <div class="container" style="margin-top:700px;">
        <div id="scrollBox" style="height:120px;width:100%;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
            <ul id="discussion"></ul>
        </div>
        <input type="text" id="message" />
        <input type="button" id="sendmessage" value="Send" />
        <input type="hidden" id="displayname" />
        </div>
    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/ChatScripts.js"></script>
</body>
</html>

