
@{
    ViewBag.Title = "ChatRoom";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
@@import 'https://fonts.googleapis.com/css?family=Squada+One';
    </style>
    <title>SignalR Simple Chat</title>
    <style type="text/css">
        body {
    overflow:hidden;
}
body,#main{
  height:100vh;
  font-family: 'Squada One', cursive;
}
#main{
  display: flex;
  width: 2200%;
  align-items: center;
}
#indic{
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 10px;
  opacity:0.25;
}
#main>div{
  margin: 0; 
}
.quote{
  font-size: 80px;
}
.author{
  font-size: 16px;
  opacity:0;

}
.point{
  color: red;
}

.btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  background: #d93434;  
  background-image: linear-gradient(to bottom, #d93434, #ff6363);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #961010;
  background-image: linear-gradient(to bottom, #961010, #ff0000);
  text-decoration: none;
  cursor: pointer;
}


    </style>
</head>
<body>
    
    
    <div id="main"></div>
    <div id="indic">Hello</div>
    <div class="btn">Play</div>
    
    
    
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TimelineMax.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    @*<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="~/signalr/hubs"></script>*@
    @*<script src="~/Scripts/ChatScripts.js"></script>*@
    <script type="text/javascript">
            $(function () {
                $("#chat").hide();
                $("header").hide();
            });
    </script>
    <script>
        $(document).ready(function () {
            var valBoucle = 0;
            $('.btn').click(function (e) {
                e.preventDefault();
                tl.resume();
            });

            doJob = function () {
                var quote = "Even the Greatest was Once a Beginner. Take that First Step<span class='point'>.</span>";
                var author = "With MY TRAINER";

                $("<div class='quote'>" + quote + "<span class='author'>" + author + "</span></div>").appendTo("#main");

                dquote = $('.quote');
                dauthor = $('.author');

                indic = function () {
                    dquotPos = dquote.position();
                    dquotPos = dquotPos.left;
                    $("<p>" + dquotPos + "</p>").appendTo("#indic");
                };

                boucle = function () {
                    console.log(valBoucle);
                    $(".quote").remove();
                    if (valBoucle < 1) {
                        $('.btn').hide();
                    }
                    valBoucle += 1;
                    doJob();
                };
                tl = new TimelineMax({ onUpdate: indic, onComplete: boucle });
                tl
                  .set(dquote, { scale: 1.7, x: '-1350' })
                  .set(dauthor, { autoAlpha: 1 })
                  .pause()
                  .addLabel("lancement")
                  .to(dquote, 4, { scale: 0.7, x: '-270', ease: Expo.easeIn })

                  .to(dquote, 5, { x: '-1100', ease: Expo.easeIn })
                  .set(dauthor, { autoAlpha: 0 })
                  .to(dquote, 0.7, { scale: 1.7, x: '-1350', ease: Expo.easeOut, delay: 1 })
                  .to(dauthor, 2, { autoAlpha: 1 });
            }


            doJob();
        });
    </script>
</body>
</html>

