@{
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<head>
    <style type="text/css">
                    @@font-face {
                        font-family: headline;
                        src: url(../../fonts/FFF_Tusj.ttf);
                    }

                    h1 {
                        color: black;
                        font-family: headline;
                        left: 0;
                        right: 0;
                        width: 100%;
                        font-size: 20vh;
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        text-align: center;
                        white-space: nowrap;
                    }
                    body {
                        background-color: white;
                        color: black;
                    }
    </style>
</head>
<body>


<h1 id="h1">MY TRAINER</h1>







<script src="~/Scripts/jquery-1.11.3.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
                $("#chat").hide();
                $("header").hide();
            });
</script>

</body>
