@model IEnumerable<MyTrainer.Models.MealPlan>

@{
    ViewBag.Title = "Index";
}

<meta charset="utf-8">
<link rel="stylesheet" href="~/Content/Site.css" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="col-md-12">
    <div class="jumbotron" style="width: 100%; height: 100%; background-color:#004687; text-align:center; color:white;">
        <div class="row">
            <div style="margin-left: 0px;">
                <h1>Plan Your Meals Here!</h1>
                <h3 style="color:#dedee0;">Don't worry, we'll help you!</h3>
                <form class="form-inline">
                    <input class="form-control" size="50" placeholder="What do you want to eat?" type="text" id="search-keyword" title="Search For Food" required>
                    <br /><br />

                    <input class="btn btn-danger" style="background-color:#b6b6b6; border-color: black;" type="button" value="Search >>" onclick="Search();" />
                </form>
            </div>
        </div>
    </div> @*row ends here*@
<div class="col-md-12" id="meal1" style="height: auto;"></div>
</div>
@foreach (var item in Model)
{
    <span id="calories" style="display: none;">item.CalorieIntake</span>
}
    <div class="container" style="margin-top:75px;">
        <h5 style="color: black; text-align: left;">Your Daily Caloric Intake</h5>
        <div id ="calorieBar" class="progress">
        </div>
    </div>
    <div class="container">
        <h5 style="color: black;">Your Daily Protein Intake</h5>
        <div id="proteinBar" class="progress">
        </div>
    </div>
    <div class="container">
        <h5 style="color: black;">Your Daily Fat Intake</h5>
        <div id="fatBar" class="progress">
        </div>
    </div>
<div class="container">
    <h5 style="color: black;">Your Daily Carb Intake</h5>
    <div id="carbBar" class="progress">
    </div>
</div>
<div class="row">
    <div class="col-md-2" style="margin-left: 15px;">
        <label>Breakfast</label>
        <div id="meal1Display" style="height: auto; margin-top: 20px; width: 100%;"></div>
    </div>
    <div class="col-md-2" style="margin-left: 45px;">
        <label>Morning Snack</label>
        <div id="snack1Display" style="height: auto; margin-top: 20px; width: 100%;"></div>
    </div>
    <div class="col-md-2" style="margin-left: 45px;">
        <label>Lunch</label>
        <div id="meal2Display" style="height: auto; margin-top: 20px; width: 100%;"></div>
    </div>
    <div class="col-md-2" style="margin-left: 45px;">
        <label>Afternoon Snack</label>
        <div id="snack2Display" style="height: auto; margin-top: 20px; width: 100%;"></div>
    </div>
    <div class="col-md-2" style="margin-left: 45px;">
        <label>Dinner</label>
        <div id="meal3Display" style="height: auto; margin-top: 20px; width: 100%;"></div>
    </div>
</div>
<br />
<br />
<script src="~/Scripts/jquery-1.11.3.min.js"></script>
<script src="~/Scripts/jquery-ui-1.8.11.min.js"></script>
<script src="~/Scripts/MealPlan.js"></script>
<script type="text/javascript">
    window.onload = loadMeals();
</script>

