body {
    padding-top: 2px;
    padding-bottom: 2px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 4px;
    padding-right: 4px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.container
h5{
    text-align: center;
    font-weight:bolder;
    color: black;
}

.jumbotron{
    background-color: #1f77ba;
    border-width:thin, medium, thin, medium;
    border-color: #adadad;
    
}
div .container{
            margin-left:0px;
            margin-right: 0px;
            width: 100% !important;
            max-width: 100%;
            }
